In [ ]:
import mysql.connector as connection
mydb = connection.connect(user = 'root', password='hassi',
                              host='127.0.0.1'
                        )# check if the connection is established
query = "SHOW DATABASES"
cursor = mydb.cursor() #create a cursor to execute queries
cursor.execute(query)
cursor.fetchall()

In [ ]:
import mysql.connector as connection
mydb = connection.connect(host="localhost", user="root", passwd="hassi",use_pure=True)
# check if the connection is established
print(mydb.is_connected())
query = "Create database Student234;"
cursor = mydb.cursor() #create a cursor to execute queries
cursor.execute(query)
print("Database Created!!")
mydb.close()

In [ ]:
import mysql.connector as connection

mydb = connection.connect(host="localhost", database = 'Student234',user="root", passwd="hassi",use_pure=True)
# check if the connection is established
print(mydb.is_connected())

query = "CREATE TABLE test (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
        "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"

cursor = mydb.cursor() #create a cursor to execute queries
cursor.execute(query)
print("Table Created!!")
mydb.close()

In [ ]:
mydb = connection.connect(host="localhost", database = 'Student234',user="root", passwd="hassi",use_pure=True)
cur = mydb.cursor()
#cur.execute("create table test3(x1 INT(5) , x2 VARCHAR(20) ,x3 DATE)")

In [ ]:
cur = mydb.cursor()

In [ ]:
cur.execute("insert into test3 values(4564,'sudh' , '2021-05-15')") #yyyy-mm-dd

In [ ]:
mydb.commit()

In [ ]:
cur.execute("create table test1(x1 INT(5) , x2 VARCHAR(20) ,x3 DATE)")

In [ ]:
cur = mydb.cursor()

In [ ]:
mydb = connection.connect(host="localhost", database = 'Student234',user="root", passwd="hassi",use_pure=True)
cur = mydb.cursor()

In [ ]:
cur.execute("insert into test1 values(4545,'hassi' , '2021-05-15')")

In [ ]:
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test1 values(4545,'sudhdfgd' , '2021-05-15')")
#cur.execute("select * from student234.test1;")

In [ ]:
mydb.commit()

In [ ]:
mydb.close()

In [ ]:
mydb.is_connected()

In [ ]:
cur.execute("DELETE FROM student234.test1 WHERE x2 ='sudhdfgd'")

In [ ]:
mydb.commit()

In [ ]:
import mysql.connector as connection
mydb = connection.connect(host="localhost", user="root", passwd="hassi",use_pure=True)
# check if the connection is established
print(mydb.is_connected())
query = "Create database inu_data;"
cursor = mydb.cursor() #create a cursor to execute queries
cursor.execute(query)
print("Database Created!!")
mydb.close()

In [ ]:
mydb = connection.connect(host="localhost", user="root", passwd="hassi",use_pure=True)

In [ ]:
#cursor = mydb.cursor()
#cursor.execute("SHOW DATABASES")
cursor.fetchall()

In [ ]:
cursor.execute("CREATE TABLE inu_data.Glass_Data(Index_Number INT(10),RI float(10,5),Na float(10,5),Mg float(10,5),Al float(10,5),"\
              "Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))")

In [ ]:
cursor.execute("SELECT * FROM inu_data.Glass_Data")

In [ ]:
cursor.fetchall()

In [ ]:
cursor = mydb.cursor()

In [ ]:
import csv
with open('glass.data', 'r') as my_data:
    next(my_data)
    csv_data = csv.reader(my_data, delimiter = "\n")
    print(csv_data) #cursor is at the very start of the data file so using next will allow us to start from the first row
    for i in enumerate(csv_data):
        for j in i[1]:
            cursor.execute('INSERT INTO inu_data.glass_data VALUES({data})'.format(data=(j)))
    print("All values have been inserted sucessfully!")

In [ ]:
mydb.commit()

In [ ]:
import mysql.connector as connection
import pandas as pandas

try:

    mydb = connection.connect(host="localhost", database='Student234', user="root", passwd="hassi", use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "Select * from Test1;"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

In [ ]:
import csv
with open('glass.data',"r") as data :
    next(data)
    data_csv = csv.reader(data, delimiter= "\n")
    print(data_csv)
    for i in enumerate(data_csv):
        print(i)

In [ ]:

mydb = connection.connect(host="localhost", database='db_name', user="root", passwd="mysql", use_pure=True)
cur= mydb.cursor()
with open('glass.data',"r") as data :
    next(data)
    data_csv = csv.reader(data, delimiter= "\n")
    print(data_csv)
    for i in enumerate(data_csv):
        print(i)
        for j in i[1] :
            print(type(j))
            cur.execute('insert into db_name.GlassData1 values ({data})'.format(data=(j)))
    print("all the data inserted ")
mydb.commit()